[submodule "03-modules/gajdaw-box"]
	path = 03-modules/gajdaw-box
	url = git@github.com:pro-vagrant/puppet-box.git
[submodule "03-modules/gajdaw-binary"]
	path = 03-modules/gajdaw-binary
	url = git@github.com:pro-vagrant/puppet-binary.git
